body {
  font-family: "Cinzel", serif;
  font-size: clamp(1rem, 2vw, 2rem);
  background: #fff4df;
  margin: 0;
  padding: 40px;
}

/* Pred tym bola farba viac bieloseda f8f7f2 */

.container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

.important-info {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 3%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

input {
  width: 80%;
  max-width: 400px;
  display: block;
  margin: 0 auto;

  padding: 12px 16px;
  border-radius: 10px;
  border-width: 0.5px;
  border-color: #665d3d;
}

button {
  font-family: "cinzel", serif;
  font-size: clamp(1rem, 1vw, 2.5rem);
  margin-top: 15px;
  padding: 14px 20px;
  cursor: pointer;
  background: #f8f7f2;
  border: 0.2px solid #c0bdb2;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
}

button:hover {
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}

#error {
  color: red;
}

h1 {
  font-family: "charm", light, serif;
  font-size: clamp(2.5rem, 8vw, 6rem);
  text-shadow: 2px 2px 5px #383221;
  color: #d1c4ae;
}

h2 {
  font-family: "cormorant garamond", serif;
  font-size: clamp(2rem, 6vw, 4rem);
  color: #3d3722;
}

h2#welcome {
  background-color: #fff4df74;
  color: #514d40;
  width: 100%;
  margin: 15px auto;
  width: calc(100% + 80px);
  margin-left: -40px;
  margin-bottom: 30px;
  border-radius: 10px;

}

h3 {
  /*border-top: 5px solid #99ab85;*/
  padding-top: 15px;
}

h4 {
  text-align: left;
  font-family: "cormorant garamond", serif;
  font-weight: 2600;
  width: fit-content;
  letter-spacing: 0.06em;
  color: #99ab85;
  border-bottom: 1px solid #99ab85;
  text-shadow: 1px 1px 2px #99ab85;
  margin-bottom: 2%;
}

p.charm-text {
  font-family: "charm", light, serif;
  text-align: left;
  color: #665d3d;
}



.map {
  width: 100%;
  height: clamp(250px, 40vw, 450px);

  border: 0;
  border-radius: 10px;

  box-shadow:
    0 8px 24px rgba(0,0,0,0.08);
}